<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: black;
            color: seashell;
        }
    </style>
    <title>Django</title>
</head>
<body>
    {% if nm %}
        <h1>Learn {{nm}}</h1>
    {% endif %}
    <h1>Details of Course:-</h1>
    {% if nm and st and price%}
        <h3>Avalibility of seat is {{st}} with course fee {{price}} for course {{nm}}</h3>
    {% endif %}

    {% if nm %}
        <h2>HEllo {{nm}} </h2>
    {% else %}
        <h2>No Course Avaliable</h2>
    {% endif %}
</body>

</html>